* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #131581fb;
    --secondary-color: #fed502;
    --accent1-color: #004529;
    --accent2-color: #b74a17;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--secondary-color);
    display: grid;
    padding: 30px 50px 1px;
    grid-template-columns: 300px 1fr;
    align-items: baseline;
}

body {
    font-family: var(--body-font);
    color: black;
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}
h2 {
    background-color: var(--accent2-color);
    padding: 5px;
    width: 100%;
    opacity: 100%;
    color: white;
    text-align: center;
}
nav {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: right;
    
}
.links a {
    background-color: var(--accent1-color);
    padding: .5rem;
    color: white;
    border: black;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
}
nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.hero article {
    position: absolute;
    bottom: 5px;
    padding: 1px;
    width: auto;
    text-align: left;
    background-color: var(--primary-color);
    opacity: 100%;
    color: #fff;
}
.hero article img {
    position: relative;
    float: right;
    width: 125px;
    padding: 6px;
}
.hero {
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    margin: 1px;
}
.history {
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.history h2 {
    grid-column: 1/5;
}
.history img {
    max-width: 300px;
    padding: 1rem;

}
.adventure {
    padding-bottom: 5rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: baseline;
    gap: 1em;
}
.adventure h2 {
    grid-column: 1/6;
}
figure img {
    width: 100%;
}
figcaption {
    text-align: center;
}
footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    background-color: rgb(170, 174, 179);
    max-block-size: 100px;
   
}
footer p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    color: black;
}
.socialmedia {
    justify-self: end;
}
.socialmedia a{
    text-decoration: none;
}
.socialmedia img {
    max-width: 60px;
}
