* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #191A74;
    --secondary-color: #fed502;
    --accent1-color: #004529;
    --accent2-color: #D56F3E;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--primary-color);
    color: var(--acent2-color);
}

body {
    font-family: var(--body-font);
    color: var(--accent2-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
h1 {
    position: absolute;
    top: 330px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}
h2 {
    position: absolute;
    background-color: #191A74;
    padding: 5px;
    width: 100%;
    opacity: 0.7;
    color: #fff;
}
nav, p, section, article {
    margin: 16px;
    padding: 8px;
}
article {
    position: absolute;
    top: 5px;
    padding: 3px;
    width: auto;
    text-align: left;
    background-color: var(--accent2-color);
    opacity: 100%;
    color: #fff;
}
.hero article img {
    float: right;
    width: 125px;
    padding: 5px;
}
.hero {
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
.socialmedia a{
    text-decoration: none;
}
