* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #131581fb;
    --secondary-color: #fed502;
    --accent1-color: #004529;
    --accent2-color: #b74a17;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--secondary-color);
    display: grid;
    grid-template-columns: 300px 1fr;
    align-items: center;
}

body {
    font-family: var(--body-font);
    color: black;
}

header, main, footer {
    width: 1200px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}
h2 {
    background-color: var(--accent2-color);
    padding: 5px;
    width: 100%;
    opacity: 100%;
    color: white;
    text-align: center;
}
nav {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    
}
.links a {
    background-color: var(--accent1-color);
    padding: 1em;
    color: white;
    border: black;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
}

.links a:hover {
    background-color: white;
    color: var(--accent1-color);
}
nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.hero article {
    position: absolute;
    bottom: 5px;
    padding: 1px;
    width: auto;
    text-align: left;
    background-color: var(--primary-color);
    opacity: 100%;
    color: #fff;
}
.hero article img {
    position: relative;
    float: right;
    width: 125px;
    padding: 6px;
}
.hero {
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    margin: 1px;
}
.history {
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.history h2 {
    grid-column: 1/5;
}
.history img {
    max-width: 300px;
    padding: 1rem;

}
.adventure, .employees {
    padding-bottom: 5rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: baseline;
    gap: 1em;
}
.adventure h2, .employees h2 {
    grid-column: 1/-1;
}
figure img {
    width: 100%;
}
figcaption {
    text-align: center;
}
footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    background-color: rgb(170, 174, 179);
    max-block-size: 100px;
   
}
footer p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    color: black;
}
.socialmedia {
    justify-self: end;
}
.socialmedia a{
    text-decoration: none;
}
.socialmedia img {
    max-width: 60px;
}

.employees {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
}

.address p {
    margin: 0 auto;
}
.address {
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

h3 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.mapform {
    padding: 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

iframe {
    margin-right: 10px;
    border: none;
    padding: 5px;
    width: 500px;
    height: 500px;
}

fieldset {
    background-color: var(--accent1-color);
    color: white;
    border: none;
    display: grid;
    grid-gap: 1rem;
    padding: 2rem;
}

input, select, textarea, label {
    font-size: 1.2em;
    margin: 5px 0;
    padding: 5px;
    width: fit-content;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input:focus, select:focus, textarea:focus {
    outline: 3px solid black;
}

textarea {
    width: 100%;
}

.message {
    margin-bottom: 0;
    margin-top: 30px;
}

label {
    font-size: larger;
    text-align: left;
    margin-top: .5rem;
    margin-bottom: 0; 
}

input[type="radio"] {
   margin: 10px;
}

input[type="checkbox"] {
   width: 20px; 
   height: 20px;
   vertical-align: bottom;
}

input[type="text"] {
    width: 100%;
}

input[type="email"] {
    width: 100%;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 1fr 3fr;
}
.column2 {
    grid-template-columns: 1fr 18fr;
}

button {
    margin-top: 20px;
    font-size: 1.25em;
    padding: 10px 20px;
    background-color: var(--accent2-color);
    color: rgb(240, 239, 239);
    border: 1px solid rgb(240, 239, 239);
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--primary-color);
}
