* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 1rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
    color: cornflowerblue;
    background: rgb(150, 176, 225);
}

header {
    margin: 0 auto;
    width: 650px;
}

h1 {
   margin-top: 3rem;
   margin-bottom: .5rem;
   font-size: 1.5em;
   color: black;
   font-weight: 100;
   text-align: left;
   border-bottom: solid black 5px;
}

form {
    display: grid;
    width: 550px;
    margin: 0 auto;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    border: solid black 3px;
    border-radius: 1rem;
    background-color: rgb(59, 76, 108);
}

fieldset {
    display: grid;
    grid-gap: 1rem;
    margin: 1rem;
    border: solid black 1px;
    padding: 90rem;
}

legend {
    padding: 90rem;
    color: navy;
    font-size: 5em;
}

input, button, select, textarea {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    padding: .5rem;
}
input, select, textarea {
    font-size: 1.1rem;
}
label {
    margin-top: .5rem;
    margin-bottom: .5rem;
}
input[type="checkbox"] {
   width: 25px; 
   height: 25px;
   vertical-align: bottom;

}
button {
    background-color: cornflowerblue;
    color: white;
    border: solid white 2px;
    border-radius: 1rem;
    border-style: double;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 1rem;
    font-size: large;
}
button:hover {
    background-color: rgb(24, 58, 122);
}
textarea {
    font-style: italic;
}

label {
    text-align: left;
}

.form-item {
    display: grid;
    align-items: center;
}
.column1 {
    margin: 0 auto;
    grid-template-columns: 3fr 1fr;
}
.column2 {
    grid-template-columns: 1fr 2fr;
}