* {
    box-sizing: border-box;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
main {
    padding: 1.25rem;
    width: 700px;
    margin: 0 auto;
    background-color: #999898;
}

fieldset {
    border: 5px solid rgb(164, 97, 167);
    padding: 10px;
    margin-bottom: 20px;
    background-color: #dad9d9;
}

legend {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5em;
    font-weight: 100;
    color: rgb(88, 56, 90);
    padding: 0 10px;
}

input, select, textarea {
    font-size: 1.25em;
    margin: 5px 0;
    padding: 5px;
    width: 100%;
}

input:focus, select:focus, textarea:focus {
    outline: 3px solid rgb(164, 97, 167);
}

button {
    font-size: 1.25em;
    padding: 10px 20px;
    background-color: rgb(88, 56, 90);
    color: rgb(240, 239, 239);
    border: 1px solid rgb(240, 239, 239);
    border-radius: 5px;
    cursor: pointer;
}

.code {
    background-color: rgb(19, 19, 19);
    color: rgb(240, 239, 239);
    font-family: monospace;
    padding: 10px 5px;
    border-radius: 5px;
    width: fit-content;
    margin: 0 auto
}

.number {
    font-weight: bold;
    font-size: 1.5em;
    color: rgb(88, 56, 90);
    font-style: italic;
}